# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production
.env
ecosystem.config.cjs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.png
text_to_image.png
pm2.config.js
model.csv
model*
opened.json
trials.json
skips.json
context.json
suffix.json
temp.json
time.json
google.json
*.log

